@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: Roboto;
  font-size: 14px;
  margin: 0;
}

body {
  padding: 56px;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  font-size: 24px;
}

section > span {
  text-align: justify;
}

.text-medium {
  font-size: 20px;
}

#first-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 48px;
}

#first-section > img {
  border-radius: 50%;
}

#first-section > div {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#first-section > div > #paragraph {
  text-align: justify;
}

#first-section .emoji {
  font-size: 32px;
}

#second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;
  margin-top: 24px;
}

#second-section > span {
  max-width: 800px;
}

#second-section > #quotation {
  max-width: 200px;
  padding: 16px;

  background-color: #f2ead6;
}

table {
  margin-top: 16px;
  margin-bottom: 16px;

  border-collapse: collapse;

  width: 700px;
}

th {
  border: 1px solid black;
  font-size: 16px;
}

td {
  border: 1px solid black;
  font-size: 16px;
}

td.icons {
  text-align: center;
  padding: 16px;
}

td.title,
td.price {
  padding-left: 8px;
}

#small-subtitle {
  font-size: 12px;
}

#third-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#third-section > span {
  max-width: 800px;
}

#third-section > #small-subtitle {
  margin-top: 12px;
}

#fourth-section {
  padding-top: 48px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fourth-section > img {
  margin: 16px;
}

#fourth-section > .emoji {
  font-size: 16px;
}

@media (max-width: 700px) {
  body {
    padding: 24px;
  }

  table {
    width: 100%;
  }
}
